.banner {
background-image: url("../../images/background.png");
background-size: cover;
background-position: center;
padding: 200px;
display: flex;
justify-content: center;
}

.banner .container {
color: white;
}
.banner p {
color: white;
opacity: .7;
font-size: 20px;
}
button {
height: 60px;
width: 160px;
background-color: #1EDD88;
border-radius: 8px;
font-weight: bold;
font-size: larger;
color: white;
border-style: none;
}

button:hover {
transform: scale(1.1);
background-color: #15774b;
cursor: pointer;
}

.how_it_works {
width: 900px;
margin: auto;
}
