.how-it-works {
width: 900px;
margin: auto;
}
.how-it-works h2 {
text-align: center;
font-size: 50px;
}
.cards {
display: flex;
justify-content: space-between;
margin-bottom: 30px;
}
.card {
width: 250px;
border-radius: 3px;
box-shadow: 0 0 5px rgb(230 230 230);
padding: 20px;
text-align: center;
}
.card p{
color: rgba(138, 138, 138, 0.897);
opacity: .7;
font-size: 20px;
}
.card img { 
height: 100px;
}

